<template>
  <div class="departmentStyle">
    <div>
      <el-button type="primary"  size="mini" @click="newlyIncreased">新增</el-button>
    </div>
    <div>
      <el-table
        :data="tableData"
        stripe
        style="width: 100%">
        <el-table-column
          type="index"
          width="50">
        </el-table-column>
        <el-table-column
          v-for="(item,index) in tableColumn"
          :key="index"
          :prop=item.prop
          :label=item.lable
          :width=item.width>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button
              size="mini"
              @click="handleEdit(scope.$index, scope.row)">编辑
            </el-button>
            <el-button
              size="mini"
              type="danger"
              @click="handleDelete(scope.$index, scope.row)">删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <keep-alive>
      <component :is="isDialog" :dialogList="dialogList" @changAaxios="changAaxios"/>
    </keep-alive>
  </div>

</template>

<script>
import { deletelistMyTodo, insert, listMyTodo } from '@/api/system/department'
import Dialog from '@/components/eleemet/Dialog'
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'department',
  data () {
    return {
      tableData: [{
        name: '部门名称',
        createTime: '2016-05-02',
        updateTime: '2016-05-02'
      }],
      tableColumn: [
        {
          prop: 'name',
          lable: '部门名称',
          width: 200
        },
        {
          prop: 'createTime',
          lable: '创建时间'

        },
        {
          prop: 'updateTime',
          lable: '修改时间'

        }
      ],
      isDialog: Dialog,
      dialogList: {
        dialogVisible: false,
        width: '30%',
        title: '部门添加'
      }
    }
  },
  methods: {
    handleEdit (index, row) {
      console.log(index, row)
    },
    handleDelete (index, row) {
      console.log(index, row)
      this.$confirm('此操作将永久删除该信息, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.deleteListApi(row.id)
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    newlyIncreased () {
      this.dialogList = {
        dialogVisible: true,
        width: '30%',
        title: '部门添加'
      }
      console.log(this.dialogList)
    },
    changAaxios (value) {
      delete value.isboolean
      const data = value
      this.insertApi(data)
    },
    async initialize () {
      await listMyTodo()
        .then(
          res => {
            console.log(res.code)
            if (res.code === 1) {
              let [tableData, listData] = [[], res.data]
              tableData = listData
              this.tableData = tableData
            }
          }
        )
    },
    async deleteListApi (id) {
      await deletelistMyTodo(id)
        .then(
          res => {
            if (res.code === 1) {
              this.$message({
                type: 'success',
                message: '删除成功!'
              })
              this.initialize()
            }
          }
        )
    },
    async insertApi (data) {
      await insert(data).then(res => {
        if (res.code === 1) {
          this.$message({
            type: 'success',
            message: '添加成功!'
          })
          this.initialize()
        }
      })
    }
  },
  created () {
    this.initialize() // 获取部门信息列表
  }
}
</script>

<style scoped lang="less">
.departmentStyle {
  width: 100%;
  height: 100%;
  //display: flex;
  //flex-direction: column;
  //flex-wrap: nowrap;
  div:first-child {
    //min-height: 40px ;
    //display: flex;
    //flex-direction: row;
    //flex-wrap: nowrap;
    //justify-content: flex-end;

  }

  div:last-child {
    //
    //display: flex;
    //justify-content: center;
    //align-items: center;
  }

}
</style>
