<template>
  <div>
    <!--  搜索-->
    <div>
      <el-form ref="form" :model="form" :inline="true" label-width="80px">
        <el-form-item label="姓名">
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="性别">
          <el-select v-model="form.gender" placeholder="请选择">
            <el-option label="男" value="1"></el-option>
            <el-option label="女" value="2"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="入职时间">
          <el-form-item>
            <el-date-picker type="date" placeholder="选择日期"
                            value-format="yyyy-MM-dd"
                            v-model="form.begin"></el-date-picker>
          </el-form-item>
        </el-form-item>
        <el-form-item label="离职时间">
          <el-form-item>
            <el-date-picker type="date"
                            value-format="yyyy-MM-dd"
                            placeholder="选择日期" v-model="form.end"></el-date-picker>
          </el-form-item>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>

      </el-form>
    </div>
    <!--  表格-->
    <div>
      <el-button type="primary" @click="onSubmit">新增员工</el-button>
      <el-button type="primary" @click="onSubmit">批量删除</el-button>
    </div>
    <div>
      <el-table
        :data="tableData"
        stripe
        height="500"
        style="width: 100%">
        <el-table-column
          type="selection"
          width="55">
        </el-table-column>
        <el-table-column
          type="index"
          width="50">
        </el-table-column>
        <el-table-column
          v-for="(item,index) in tableColumn"
          :key="index"
          :prop=item.prop
          :label=item.lable
          :width=item.width>
        </el-table-column>
        <el-table-column label="操作" min-width="200">
          <template slot-scope="scope">
            <el-button
              size="mini"
              @click="handleEdit(scope.$index, scope.row)">编辑
            </el-button>
            <el-button
              size="mini"
              type="danger"
              @click="handleDelete(scope.$index, scope.row)">删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!--    分页-->
    <div class="pagination">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="pagination.currentPage"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="pagination.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="pagination.total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
import { liststaff } from '@/api/system/staffList'

export default {
  name: 'staffList',
  data () {
    return {
      tableData: [{
        name: '', // 姓名
        gender: '', // 性别, 说明: 1 男, 2 女
        image: '', // 图像
        job: '', // 职位, 说明: 1 班主任,2 讲师, 3 学工主管, 4 教研主管, 5 咨询师
        entrydate: '', // 入职时间
        updateTime: ''// 修改时间
      }],
      tableColumn: [

        {
          prop: 'name',
          lable: '姓名',
          width: 200
        },
        {
          prop: 'gender',
          lable: '性别',
          width: 200
        },
        {
          prop: 'image',
          lable: '图像',
          width: 200
        },
        {
          prop: 'job',
          lable: '职位',
          width: 200
        },
        {
          prop: 'entrydate',
          lable: '入职时间',
          width: 200
        },
        {
          prop: 'updateTime',
          lable: '最后操作时间',
          width: 200
        }
      ],
      pagination: {
        total: 0, // 总条数
        pageSize: 10, // 一页多少条数据
        currentPage: 1

      },
      form: {
        name: '', //
        gender: '', //
        begin: '',
        end: ''
      }
    }
  },
  methods: {
    init () {
      const params = {
        page: this.pagination.currentPage,
        pageSize: this.pagination.pageSize,
        name: this.form.name,
        gender: this.form.gender,
        begin: this.form.begin,
        end: this.form.end
      }
      this.liststaffApi(params)
    },
    handleSizeChange (val) {
      console.log(`每页 ${val} 条`)
      this.pagination.pageSize = val
      this.init()
    },
    handleCurrentChange (val) {
      this.pagination.page = val
      this.init()
    },
    onSubmit () {
      this.init()
    },
    async liststaffApi (params) {
      await liststaff(params).then(res => {
        const [tableData, total] = [res.data.rows, res.data.total]
        if (res.code === 1) {
          this.tableData = tableData
          this.pagination.total = total
        }
      })
    }
  },
  created () {
    this.init()
  }
}
</script>

<style scoped lang="less">
.pagination {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

</style>
