<template>
  <div class="Home">
    <el-container>
      <keep-alive>
        <component :is="isHeader"/>
      </keep-alive>
      <el-container class="content">
        <el-aside width="200px">
          <keep-alive>
            <component :is="isMenu"/>
          </keep-alive>
        </el-aside>
        <el-container>
          <el-main>
            <el-card class="el-main_header">
              <keep-alive>
                <component :is="isBreadcrumb"/>
              </keep-alive>
            </el-card>

            <el-card class="routerStyle">
              <router-view></router-view>
            </el-card>
            <el-card class="main_foot">
              <keep-alive>
                <component :is="isFooter"/>
              </keep-alive>
            </el-card>
          </el-main>

        </el-container>

      </el-container>

    </el-container>

  </div>
</template>

<script>
import Footer from '../components/common/Footer'
import Header from '../components/common/Header'
import Menu from '../components/common/Menu'
import Breadcrumb from '../components/common/Breadcrumb'

export default {
  name: 'HomeView',
  data () {
    return {
      isHeader: Header,
      isMenu: Menu,
      isFooter: Footer,
      isBreadcrumb: Breadcrumb
    }
  }
}
</script>

<style scoped lang="less">
.Home {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .content {
    position: absolute;
    width: 100%;
    top: 60px;
    bottom: 0;

    .el-aside {
      height: 100%;
      background: #2578b5;
    }

    .el-container {
      .el-main {
        overflow: hidden;

        .el-card {
          margin-top: 20px;
        }

        .el-main_header {
          width: 100%;
          height: 54px;

        }

        .routerStyle {
          width: 100%;
          height: calc(100% - 177px);

        }

        .main_foot {
          width: 100%;
          //height: 63px;
        }

      }
    }
  }

}
</style>
