<template>
  <div class="login_containar">
    <div class="login_box">
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"
               label-position="left">
        <el-form-item label="用户名称" prop="userName">
          <el-input v-model="ruleForm.userName"
                    placeholder="请输入用户名称"
          >
            <i slot="prefix" class=" el-icon-user"></i>
          </el-input>
        </el-form-item>
        <el-form-item label="用户密码" prop="userPassword">
          <el-input v-model="ruleForm.userPassword" show-password placeholder="请输入用户密码">
            <i slot="prefix" class=" el-icon-date"></i>
          </el-input>
        </el-form-item>
        <el-form-item label="模块" prop="modules">
          <el-select v-model="ruleForm.modules" placeholder="请选择活动区域">
            <el-option
              v-for="modulesItem in modulesList"
              :key="modulesItem.id"
              :label="modulesItem.label" :value="modulesItem.value"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
          <el-button @click="resetForm('ruleForm')">取消</el-button>
        </el-form-item>
      </el-form>
    </div>

  </div>
</template>

<script>
import { LoginUserPassWord } from '@/api/login'
import { setToken } from '@/utils/storage'

export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'Login',
  data () {
    return {
      ruleForm: {
        userName: '',
        userPassword: '',
        modules: ''
      },
      rules:
        {
          userName: [
            {
              required: true,
              message: '请输入用户名称',
              trigger: 'blur'
            },
            {
              min: 1,
              max: 15,
              message: '长度在 1 到 15 个字符',
              trigger: 'blur'
            }
          ],
          userPassword: [
            {
              required: true,
              message: '请输入用户密码',
              trigger: 'blur'
            }
          ],
          modules: [
            {
              required: true,
              message: '请选择功能模块',
              trigger: 'change'
            }
          ]
        },
      modulesList: [
        {
          label: '系统管理',
          value: '1111'
        },
        {
          label: '生产管理',
          value: '2222'
        },
        {
          label: '程序员',
          value: '3333'
        }
      ]
    }
  },
  methods: {
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.login()
        } else {
          return false
        }
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    login () {
      const params = {
        username: this.ruleForm.userName,
        password: this.ruleForm.userPassword
      }
      this.LoginUserPassWordApi(params)
      //
      this.$router.push({ path: '/homeView', query: {} })
    },
    async LoginUserPassWordApi (params) {
      await LoginUserPassWord(params).then(
        res => {
          const {
            code,
            msg,
            data
          } = res
          console.log(code, msg, data)
          if (code === 1) {
            setToken(data) // 存储token
          }
        }

      )
    }
  }
}
</script>

<style scoped lang="less">
.login_containar {
  height: 100%;
  background-color: #2b4b6b;

  .login_box {
    width: 30%;
    height: 300px;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    //display: flex;
    //justify-content: center;
    //align-items: center;
  }
}
</style>
