<template>
<div>
  404页面
</div>
</template>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'NotFound'
}
</script>

<style scoped lang="less">

</style>
