<template>
<!--面包屑-->
  <div class="Breadcrumb">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item
        v-for="(item,index) in $route.matched"
        :key="index"
        >{{item.name}}</el-breadcrumb-item>

      </el-breadcrumb>
  </div>

</template>

<script>
export default {
  name: "Breadcrumb",

}
</script>

<style scoped lang="less">
.Breadcrumb{

}
</style>
