<template>
  <div class="header">
    <el-header>
      <div class="title"> 通用管理系统</div>
      <div>{{ name }}</div>
    </el-header>
  </div>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {
      name: "张山"
    }
  }
}
</script>

<style scoped lang="less">
.header {
  width: 100%;
  .el-header {
    background: #2578b5;
    color: #FFF;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    .title{
      width: 200px;
      font-size: 24px;
    }

  }
}
</style>
