<template>
  <div class="menu">

    <el-menu
      router
      default-active="2"
      class="el-menu-vertical-demo"
      background-color="#2578b5"
      text-color="#fff"
      active-text-color="#ffd04b">
      <template v-for="(item,index) in menusList">
        <el-submenu :index="index +''" :key="index">
          <template slot="title">
            <i :class="item.iconClass"></i>
            <span>{{ item.name }}</span>
          </template>
          <el-menu-item-group v-for="(childrenItem,childrenIndex) in item.children" :key="childrenItem.id">
            <el-menu-item :index="childrenItem.path" >
              <i :class="childrenItem.iconClass"></i>
              {{ childrenItem.name }}
            </el-menu-item>
          </el-menu-item-group>
        </el-submenu>
      </template>


    </el-menu>
  </div>
</template>

<script>
export default {
  name: "Menu",
  data() {
    return {
      menus: []
    }
  },
  computed: {
    menusList() {
      return this.menus.filter(item => {
        if (item.hidden != false) {
          return item
        }
      })
    }
  },
  created() {
    this.menus = [...this.$router.options.routes]
  },
  methods: {
    RouteJump(item) {
      this.$router.push(
        {
          path: item.path,
          query: {
            title: item.name
          }

        }
      )
      console.log(item, `itemitem`)
    }
  }
}
</script>

<style scoped lang="less">
.menu {
  width: 200px;

  .el-menu {
    height: 100%;

    .el-submenu {
      min-width: 0;
    }

    .el-menu-item {
      min-width: 0;
    }
  }
}
</style>
