<template>
<div>
  <el-dialog
    :title="Dialoglist.title"
    :visible.sync="Dialoglist.dialogVisible"
    :width=Dialoglist.width
    :before-close="handleClose">
    <keep-alive>
      <component :is="isFormList" @dialogVisible="dialogVisible"/>
    </keep-alive>

  </el-dialog>
</div>
</template>

<script>
import DepartmentFrom from '@/components/eleemet/FormList/departmentFrom'
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'Dialog',
  props: {
    dialogList: {
      type: Object,
      // eslint-disable-next-line vue/require-valid-default-prop
      default: {}
    }
  },
  watch: {
    dialogList: {
      handler (newValue, oldValue) {
        this.Dialoglist = newValue
      },
      deep: true
    }

  },
  data () {
    return {
      isFormList: DepartmentFrom,
      Dialoglist: {
        dialogVisible: false,
        width: '30%',
        title: '提示'
      }

    }
  },
  methods: {
    handleClose (done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done()
        })
        .catch(_ => {})
    },
    handleshut () {
      this.Dialoglist.dialogVisible = false
    },
    confirm () {
      this.Dialoglist.dialogVisible = false
    },
    dialogVisible (Object) {
      console.log(Object)
      if (Object.isboolean === 1) {
        this.Dialoglist.dialogVisible = false
      } else if (Object.isboolean === 2) {
        this.Dialoglist.dialogVisible = false
        this.$emit('changAaxios', Object)
      } else {
        this.Dialoglist.dialogVisible = true
      }
    }
  }

}
</script>

<style scoped>

</style>
